<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurant catalogue for you">
    <link rel="icon" href="./favicon.png">

    <title>Hunger Apps</title>
</head>
<body>
    <!-- Skip to Content Link -->
    <a href="#maincontent" class="skip-link" tabindex="0">Skip to Content</a>

    <!-- Header Section -->
    <header>
        <div class="logo">
            <h1>Hunger Apps</h1>
        </div>
        <button id="menu-button" aria-label="Open navigation menu">☰</button>
        <nav id="drawer">
            <ul id="nav-menu" class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://github.com/salmanlfarisi">About Us</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content Section -->
    <main id="main-content">
        <section class="hero">
            <img src="./images/heros/hero-image_1.jpg" alt="Chef Botak" />
        </section>

        <section id="restaurant-list">
            <h2>Explore Restaurant</h2>
            <div id="restaurant-container" class="restaurant-grid"></div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <p>Copyright © 2024 - Hunger Apps</p>
    </footer>
</body>
</html>
